@import 'tailwindcss';
@import '@layerstack/tailwind/core.css';
@import '@layerstack/tailwind/utils.css';
@import '@layerstack/tailwind/themes/all.css';
@import '@fontsource/poppins';
@source '../../node_modules/svelte-ux/dist';
@source '../../node_modules/layerchart/dist';

/* :root {
	--font-serif: 'Poppins', sans-serif;
	--color-primary: var(--color-purple-700);
	--color-secondary: var(--color-orange-500);

	&.dark {
		--color-primary: var(--color-purple-400);
		--color-surface-100: var(--color-zinc-900);
		--color-surface-200: var(--color-zinc-950);
		--color-surface-300: var(--color-black);
	}
}

* {
	@apply font-serif;
} */

:root {
	color-scheme: light;
	--color-primary: var(--color-blue-500);
	--color-primary-content: var(--color-white);
	--color-secondary: var(--color-orange-500);
	--color-surface-100: var(--color-white);
	--color-surface-200: var(--color-gray-100);
	--color-surface-300: var(--color-gray-300);
	--color-surface-content: var(--color-gray-900);
}

@media (prefers-color-scheme: dark) {
	:root {
		color-scheme: dark;
		--color-primary: var(--color-blue-500);
		--color-primary-content: var(--color-white);
		--color-secondary: var(--color-orange-500);
		--color-surface-100: var(--color-zinc-800);
		--color-surface-200: var(--color-zinc-900);
		--color-surface-300: var(--color-zinc-950);
		--color-surface-content: var(--color-zinc-100);
	}
}

[data-theme='light'] {
	color-scheme: light;
	--color-primary: hsl(257.4075 100% 50%);
	--color-secondary: hsl(310.4453 100% 50%);
	--color-secondary-content: hsl(320.0789 100% 98.6494%);
	--color-accent: hsl(173.4835 100% 42.1865%);
	--color-neutral: hsl(214.2857 19.6262% 20.9804%);
	--color-neutral-content: hsl(212.3077 19.403% 86.8627%);
	--color-surface-100: hsl(180 100% 100%);
	--color-surface-200: hsl(0 0% 94.902%);
	--color-surface-300: hsl(180 1.9608% 90%);
	--color-surface-content: hsl(215 27.907% 16.8627%);
	--color-info: hsl(197.2976 100% 50%);
	--color-success: hsl(158.9382 100% 33.2172%);
	--color-warning: hsl(44.7108 100% 50%);
	--color-danger: hsl(356.8706 100% 67.3052%);
	--color-primary-content: hsl(227.6647 100% 91.0748%);
	--color-primary-50: hsl(232.3457 100% 76.8157%);
	--color-primary-100: hsl(233.4035 100% 74.9896%);
	--color-primary-200: hsl(236.0867 100% 71.5789%);
	--color-primary-300: hsl(239.9818 100% 68.5879%);
	--color-primary-400: hsl(245.7714 100% 62.5712%);
	--color-primary-500: hsl(257.4075 100% 50%);
	--color-primary-600: hsl(256.3942 100% 45.2974%);
	--color-primary-700: hsl(255.9702 100% 38.7195%);
	--color-primary-800: hsl(255.3947 100% 32.3445%);
	--color-primary-900: hsl(254.5739 100% 26.1938%);
	--color-secondary-50: hsl(312.9534 100% 79.1139%);
	--color-secondary-100: hsl(312.8775 100% 76.9231%);
	--color-secondary-200: hsl(312.6258 100% 72.1652%);
	--color-secondary-300: hsl(312.1478 100% 66.4927%);
	--color-secondary-400: hsl(311.0379 100% 57.9643%);
	--color-secondary-500: hsl(310.4453 100% 50%);
	--color-secondary-600: hsl(314.516 100% 47.3052%);
	--color-secondary-700: hsl(314.6511 100% 40.4525%);
	--color-secondary-800: hsl(314.8343 100% 33.8111%);
	--color-secondary-900: hsl(315.0952 100% 27.4033%);
	--color-accent-content: hsl(168.722 100% 3.2602%);
	--color-accent-50: hsl(171.3855 72.5307% 71.4464%);
	--color-accent-100: hsl(171.7771 72.9012% 68.0855%);
	--color-accent-200: hsl(172.7542 74.2685% 59.9573%);
	--color-accent-300: hsl(174.6018 100% 43.9907%);
	--color-accent-400: hsl(174.0311 100% 43.1035%);
	--color-accent-500: hsl(173.4835 100% 42.1865%);
	--color-accent-600: hsl(173.4232 100% 36.6415%);
	--color-accent-700: hsl(173.3439 100% 31.2487%);
	--color-accent-800: hsl(173.2358 100% 26.0221%);
	--color-accent-900: hsl(173.0804 100% 20.9795%);
	--color-neutral-50: hsl(214.3814 5.8279% 54.0221%);
	--color-neutral-100: hsl(214.3741 5.7772% 50.1155%);
	--color-neutral-200: hsl(214.3577 7.6767% 42.4628%);
	--color-neutral-300: hsl(214.3385 10.2652% 35.04%);
	--color-neutral-400: hsl(214.3153 13.944% 27.8698%);
	--color-neutral-500: hsl(214.2857 19.6262% 20.9804%);
	--color-neutral-600: hsl(214.2857 20.3782% 17.7128%);
	--color-neutral-700: hsl(214.2857 21.4338% 14.5349%);
	--color-neutral-800: hsl(214.2857 23.0159% 11.455%);
	--color-neutral-900: hsl(214.2857 25.6311% 8.4834%);
	--color-info-content: hsl(208.1554 100% 4.4791%);
	--color-info-50: hsl(198.0379 100% 75.2757%);
	--color-info-100: hsl(197.8374 100% 72.5384%);
	--color-info-200: hsl(197.139 100% 66.1909%);
	--color-info-300: hsl(195.2063 100% 55.8279%);
	--color-info-400: hsl(195.3352 100% 50%);
	--color-info-500: hsl(197.2976 100% 50%);
	--color-info-600: hsl(198.5199 100% 44.6308%);
	--color-info-700: hsl(198.7027 100% 38.1442%);
	--color-info-800: hsl(198.9509 100% 31.8576%);
	--color-info-900: hsl(199.305 100% 25.7923%);
	--color-success-content: hsl(143.4375 100% 2.0605%);
	--color-success-50: hsl(147.3179 40.9835% 69.2004%);
	--color-success-100: hsl(147.8507 41.1583% 66.2464%);
	--color-success-200: hsl(149.1296 41.6896% 60.1308%);
	--color-success-300: hsl(150.8516 42.626% 53.5333%);
	--color-success-400: hsl(153.506 52.7364% 45.7661%);
	--color-success-500: hsl(158.9382 100% 33.2172%);
	--color-success-600: hsl(158.6898 100% 28.779%);
	--color-success-700: hsl(158.3618 100% 24.4626%);
	--color-success-800: hsl(157.9108 100% 20.2792%);
	--color-success-900: hsl(157.2553 100% 16.2431%);
	--color-warning-content: hsl(34.0938 100% 4.5776%);
	--color-warning-50: hsl(42.459 100% 77.4929%);
	--color-warning-100: hsl(42.5716 100% 75.1201%);
	--color-warning-200: hsl(42.9633 100% 69.897%);
	--color-warning-300: hsl(43.7898 100% 63.3363%);
	--color-warning-400: hsl(46.4372 100% 50%);
	--color-warning-500: hsl(44.7108 100% 50%);
	--color-warning-600: hsl(42.8332 100% 45.2761%);
	--color-warning-700: hsl(42.6662 100% 38.7012%);
	--color-warning-800: hsl(42.4396 100% 32.329%);
	--color-warning-900: hsl(42.1163 100% 26.181%);
	--color-danger-content: hsl(358.4678 80.9018% 5.3134%);
	--color-danger-50: hsl(2.5475 100% 82.9143%);
	--color-danger-100: hsl(2.1539 100% 81.382%);
	--color-danger-200: hsl(1.252 100% 78.3187%);
	--color-danger-300: hsl(0.1416 100% 75.2484%);
	--color-danger-400: hsl(358.7344 100% 71.5547%);
	--color-danger-500: hsl(356.8706 100% 67.3052%);
	--color-danger-600: hsl(357.1922 83.1914% 61.6035%);
	--color-danger-700: hsl(357.1922 57.9396% 52.4168%);
	--color-danger-800: hsl(357.1922 53.6188% 43.5134%);
	--color-danger-900: hsl(357.1922 55.0988% 34.9232%);
}

[data-theme='dark'] {
	color-scheme: dark;
	--color-primary: hsl(234.8208 100% 72.6713%);
	--color-secondary: hsl(313.3209 100% 66.1653%);
	--color-accent: hsl(173.7346 100% 40.1728%);
	--color-neutral: hsl(213.3333 17.6471% 20%);
	--color-neutral-content: hsl(220 13.3758% 69.2157%);
	--color-surface-100: hsl(212.3077 18.3099% 13.9216%);
	--color-surface-200: hsl(212.7273 18.0328% 11.9608%);
	--color-surface-300: hsl(213.3333 17.6471% 10%);
	--color-surface-content: hsl(220 13.3758% 69.2157%);
	--color-info: hsl(197.2976 100% 50%);
	--color-success: hsl(158.9382 100% 33.2172%);
	--color-warning: hsl(44.7108 100% 50%);
	--color-danger: hsl(356.8706 100% 67.3052%);
	--color-primary-content: hsl(236.4483 66.7205% 5.3866%);
	--color-primary-50: hsl(229.7915 100% 84.0735%);
	--color-primary-100: hsl(230.1859 100% 82.7145%);
	--color-primary-200: hsl(231.0667 100% 80.0547%);
	--color-primary-300: hsl(232.0983 100% 77.4828%);
	--color-primary-400: hsl(233.327 100% 75.0147%);
	--color-primary-500: hsl(234.8208 100% 72.6713%);
	--color-primary-600: hsl(235.0704 70.3808% 64.2382%);
	--color-primary-700: hsl(235.0704 47.9454% 54.6908%);
	--color-primary-800: hsl(235.0704 40.46% 45.4378%);
	--color-primary-900: hsl(235.0704 41.5282% 36.5104%);
	--color-secondary-content: hsl(320.8908 83.2641% 5.2689%);
	--color-secondary-50: hsl(314.3395 100% 83.432%);
	--color-secondary-100: hsl(314.31 100% 81.8013%);
	--color-secondary-200: hsl(314.212 100% 78.4165%);
	--color-secondary-300: hsl(314.0445 100% 74.8016%);
	--color-secondary-400: hsl(313.7722 100% 70.8191%);
	--color-secondary-500: hsl(313.3209 100% 66.1653%);
	--color-secondary-600: hsl(318.1553 84.2932% 60.7486%);
	--color-secondary-700: hsl(318.1553 59.0977% 51.679%);
	--color-secondary-800: hsl(318.1553 56.347% 42.889%);
	--color-secondary-900: hsl(318.1553 57.9256% 34.4083%);
	--color-accent-content: hsl(168.7443 100% 2.9908%);
	--color-accent-50: hsl(171.1098 64.2687% 71.4638%);
	--color-accent-100: hsl(171.4554 64.6409% 68.3324%);
	--color-accent-200: hsl(172.2753 65.8475% 61.2424%);
	--color-accent-300: hsl(173.5236 68.6512% 51.112%);
	--color-accent-400: hsl(174.292 100% 41.2676%);
	--color-accent-500: hsl(173.7346 100% 40.1728%);
	--color-accent-600: hsl(173.6737 100% 34.8763%);
	--color-accent-700: hsl(173.5935 100% 29.7251%);
	--color-accent-800: hsl(173.484 100% 24.7328%);
	--color-accent-900: hsl(173.3263 100% 19.9161%);
	--color-neutral-50: hsl(213.4653 4.9421% 53.3722%);
	--color-neutral-100: hsl(213.4565 5.0146% 49.4173%);
	--color-neutral-200: hsl(213.4361 6.723% 41.6751%);
	--color-neutral-300: hsl(213.4108 9.0416% 34.1738%);
	--color-neutral-400: hsl(213.3782 12.3819% 26.9382%);
	--color-neutral-500: hsl(213.3333 17.6471% 20%);
	--color-neutral-600: hsl(213.3333 18.3577% 16.8534%);
	--color-neutral-700: hsl(213.3333 19.3599% 13.7931%);
	--color-neutral-800: hsl(213.3333 20.8717% 10.8272%);
	--color-neutral-900: hsl(213.3333 23.3974% 7.9657%);
	--color-info-content: hsl(208.1554 100% 4.4791%);
	--color-info-50: hsl(198.0379 100% 75.2757%);
	--color-info-100: hsl(197.8374 100% 72.5384%);
	--color-info-200: hsl(197.139 100% 66.1909%);
	--color-info-300: hsl(195.2063 100% 55.8279%);
	--color-info-400: hsl(195.3352 100% 50%);
	--color-info-500: hsl(197.2976 100% 50%);
	--color-info-600: hsl(198.5199 100% 44.6308%);
	--color-info-700: hsl(198.7027 100% 38.1442%);
	--color-info-800: hsl(198.9509 100% 31.8576%);
	--color-info-900: hsl(199.305 100% 25.7923%);
	--color-success-content: hsl(143.4375 100% 2.0605%);
	--color-success-50: hsl(147.3179 40.9835% 69.2004%);
	--color-success-100: hsl(147.8507 41.1583% 66.2464%);
	--color-success-200: hsl(149.1296 41.6896% 60.1308%);
	--color-success-300: hsl(150.8516 42.626% 53.5333%);
	--color-success-400: hsl(153.506 52.7364% 45.7661%);
	--color-success-500: hsl(158.9382 100% 33.2172%);
	--color-success-600: hsl(158.6898 100% 28.779%);
	--color-success-700: hsl(158.3618 100% 24.4626%);
	--color-success-800: hsl(157.9108 100% 20.2792%);
	--color-success-900: hsl(157.2553 100% 16.2431%);
	--color-warning-content: hsl(34.0938 100% 4.5776%);
	--color-warning-50: hsl(42.459 100% 77.4929%);
	--color-warning-100: hsl(42.5716 100% 75.1201%);
	--color-warning-200: hsl(42.9633 100% 69.897%);
	--color-warning-300: hsl(43.7898 100% 63.3363%);
	--color-warning-400: hsl(46.4372 100% 50%);
	--color-warning-500: hsl(44.7108 100% 50%);
	--color-warning-600: hsl(42.8332 100% 45.2761%);
	--color-warning-700: hsl(42.6662 100% 38.7012%);
	--color-warning-800: hsl(42.4396 100% 32.329%);
	--color-warning-900: hsl(42.1163 100% 26.181%);
	--color-danger-content: hsl(358.4678 80.9018% 5.3134%);
	--color-danger-50: hsl(2.5475 100% 82.9143%);
	--color-danger-100: hsl(2.1539 100% 81.382%);
	--color-danger-200: hsl(1.252 100% 78.3187%);
	--color-danger-300: hsl(0.1416 100% 75.2484%);
	--color-danger-400: hsl(358.7344 100% 71.5547%);
	--color-danger-500: hsl(356.8706 100% 67.3052%);
	--color-danger-600: hsl(357.1922 83.1914% 61.6035%);
	--color-danger-700: hsl(357.1922 57.9396% 52.4168%);
	--color-danger-800: hsl(357.1922 53.6188% 43.5134%);
	--color-danger-900: hsl(357.1922 55.0988% 34.9232%);
}
